
/* -------------------------- Global styles */

body {
    font: 1.6em/1.5 'Helvetica Neue', Helvetica, sans-serif;
    overflow: hidden;
}
a, .btn-link {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:visited {
    color: #00F;
}
.btn-link,
.btn-link:visited {
    color: #000;
    text-decoration: none;
}
.btn-link:hover {
    text-decoration: underline;
}
::-moz-selection {
    color: #FFF;
    background: #000;
}
::selection {
    color: #FFF;
    background: #000;
}
