
/* --------------------------------------------- Main structure */

#wrap {
    padding: 6.5em 3.5em 5.5em 3.5em;
    height: 100%;
}
#header h1 {
    line-height: 1.1;
    padding: 1em;
}
#header h1 a {
    text-decoration: none;
}
#header, #footer {
    position: fixed; left: 0; right: 0; z-index: 1;
    padding: 0 2.5em;
}
#header {
    top: .9em;
}
#pages {
    height: 100%;
    overflow: hidden;
}
#grid {
    height: 100%;
    width: 300%;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
}
#pages-inner {
    height: 200%;
}
.page {
    height: 50%;
    margin: 0 -2em;
}

/* --------------------------------------------- Header */


header h1 {
    display: inline-block;
}

/* --------------------------------------------- Columns structure */

.col {
    display: inline-block;
    vertical-align: top;
    width: 11%; height: 100%;
    padding: 0 2em;
    border-right: 2px solid;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.is-win .col {
    border-right: none;
}
.col.content {
    width: 0;
    padding: 0;
    border: none;
    -webkit-transition: width .4s ease;
    transition: width .4s ease;
}
.col.open {
    width: 22%;
}
/*
.col.open.as-blog {
    width: 33%;
}*/
.col h2,
.title-small {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .05em;
    margin-bottom: 10px;
}


/* --------------------------------------------- HOME : main column item */


.item {
    padding: 1em 0;
    text-decoration: none;
    display: block;
    width: 90%;
    max-width: 350px;
}
.item h3 {
    font-size: 28px;
    line-height: 1.15;
}
.no-touch a.item:focus h3,
.no-touch a.item.active h3 {
    text-decoration: underline;
}
.item span {
    visibility: hidden;
    text-decoration: none;
    text-transform: lowercase;
}
.no-touch a.item:focus span,
.no-touch a.item:hover span {
    visibility: visible;
}
.item time {
    font-size: 11px;
}
.col.blog a.item h3 {
    text-decoration: underline;
}
.col.blog a.item.active h3,
.no-touch .col.blog a.item:hover h3 {
    text-decoration: none;
}
.col.blog a.item.active span {
    visibility: hidden;
}

/* --------------------------------------------- HOME : grid tooltip images */

#thumb {
    position: absolute; z-index: 9999;
    display: none;
    margin: -20px 0 0 70px;
    border: 1px solid;
    will-change: transform;
}
#thumb img {
    display: block;
}


/* --------------------------------------------- project page structure */


.content article {
    font-size: 18px;
    padding-left: 33px;
    max-width: 900px;
    width: 95%;
}
.content.as-blog article {
    width: 90%;
}
.content.as-blog header p {
    margin: 0 0 20px 0;
}
.content h2 {
    margin-bottom: 38px;
}
.content.as-blog h2 {
    text-transform: none;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: normal;
}
.content img, video {
    max-width: 100%;
    display: block;
    margin-top: 10px;
    border: 1px dotted;
}
.content .about {
    margin: 2em 0;
}


/* --------------------------------------------- Footer */


#footer {
    bottom: .8em;
}
#contact {
    padding: 0 2em;
}
#nav-mobile button {
    display: none;
}


/* --------------------------------------------- RWD */


@media (-webkit-max-device-pixel-ratio: 1), (max-resolution : 1dppx), (max-resolution : 120dpi) {
    .item {
        /* fixes blurry text in webkit */
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
@media (max-width : 900px) {
    #wrap {
        padding: 5em 1em 4em 1em;
    }
    #header, #footer {
        padding: 0;
    }
}
@media (max-width : 780px) {

    /* --------------------------------------------- Structure */

    #wrap {
        padding: 5em 2em 4em 2em;
    }
    #header, #footer {
        padding: 0 1em;
    }
    .page {
        margin: 0;
    }
    #grid {
        width: 400%;
    }
    .col,
    .col.open {
        width: 25%;
        border: none;
        padding: 0;
    }
    .col.content {
        -webkit-transition: none;
        transition: none;
    }
    .content article {
        padding-left: 0;
    }
    .content.as-blog article {
        width: 100%;
    }
    .content h2 {
        margin-bottom: 22px;
    }
    #contact {
        padding: 0;
    }

    /* --------------------------------------------- Footer UI */

    #nav-mobile button {
        position: relative;
        display: inline-block;
        padding: 1em .9em;
    }
    #nav-mobile button:after {
        position: absolute; right: -3px;
        content: '|';
        vertical-align: middle;
        height: 1em;
    }
}
@media (max-width : 500px) {
    #wrap {
        padding: 5em 1em 4em 1em;
    }
    #header, #footer {
        padding: 0;
    }
}
@media (max-height : 600px) {
    #wrap {
        padding-top: 4em;
        padding-bottom: 3em;
    }
    #header {
        top: .5em;
    }
    #footer {
        bottom: 0;
    }
}
@media (max-height : 500px) {
    #wrap {
        padding-top: 3.5em;
    }
    #header {
        top: .2em;
    }
}