<section class="col" data-id="online" tabindex="0">
    <h2>Web; code</h2>
    <ul role="menu">
        {% for item in pages.online %}
        <li itemscope itemtype="http://schema.org/VisualArtwork">
            <article>
                <a class="item" itemprop="url" href="{{ item.slug }}"
                   data-title="{{ item.title }}"
                   data-img="{{ item.image ? item.image : '' }}"
                   role="menuitem"
                   rel="bookmark">
                    <h3 itemprop="name">{{ item.title }}</h3>
                    <span>{{ item.date|date('Y') }} | <em>{{ item.type }}</em></span>
                </a>
                <meta itemprop="dateModified" content="{{ item.date_modified ? item.date_modified : item.date }}">
            </article>
        </li>
        {% endfor %}
    </ul>
</section><!--

--><div id="online" class="col content {{ active_category == 'online' ? 'open' : 'invisible' }}" tabindex="0">
    {% if active_category == 'online' %}
        {% include 'templates/page.html' %}
    {% endif %}
</div><!--

--><section class="col" data-id="offline" tabindex="0">
    <h2>Graphic design; video</h2>
    <ul role="menu">
        {% for item in pages.offline %}
        <li itemscope itemtype="http://schema.org/VisualArtwork">
            <article>
                <a class="item" itemprop="url" href="{{ item.slug }}"
                   data-title="{{ item.title }}"
                   data-img="{{ item.image ? item.image : '' }}"
                   role="menuitem"
                   rel="bookmark">
                    <h3 itemprop="name">{{ item.title }}</h3>
                    <span>{{ item.date|date('Y') }} | <em>{{ item.type }}</em></span>
                </a>
                <meta itemprop="dateModified" content="{{ item.date_modified ? item.date_modified : item.date }}">
            </article>
        </li>
        {% endfor %}
    </ul>
</section><!--

--><div id="offline" class="col content {{ active_category == 'offline' or active_category == 'blog' ? 'open' : 'invisible' }} {{ active_category == 'blog' ? 'as-blog' : '' }}" tabindex="0">
    {% if active_category == 'offline' or active_category == 'blog' %}
        {% include 'templates/page.html' %}
    {% endif %}
</div><!--

--><section class="col blog" data-id="offline" tabindex="0">
    <h2>News; blog</h2>
    <ul role="menu">
        {% for item in pages.blog %}
        <li itemscope itemtype="http://schema.org/BlogPosting">
            <article>
                {% if item.read == 'yes' %}
                    <a class="item"
                       itemprop="url"
                       href="{{ item.slug }}"
                       data-title="{{ item.title }}"
                       role="menuitem"
                       rel="bookmark">
                        <time datetime="{{ item.date }}" itemprop="datePublished">{{ item.date|date('F j, Y') }}</time>
                        <h3 itemprop="headline">{{ item.title }}</h3>
                        {% if item.description %}<p>{{ item.description }}</p>{% endif %}
                        <span>→</span>
                    </a>
                {% else %}
                    <div class="item">
                        <time datetime="{{ item.date }}" itemprop="datePublished">{{ item.date|date('F j, Y') }}</time>
                        <h3 itemprop="headline">{{ item.title }}</h3>
                        {% if item.description %}<p>{{ item.description }}</p>{% endif %}
                    </div>
                {% endif %}
            </article>
        </li>
        {% endfor %}
    </ul>
</section>