<main data-slug="{{ slug }}">
    <article itemscope itemtype="{{ meta.schema_artForm ? 'http://schema.org/VisualArtwork' : 'http://schema.org/BlogPosting' }}">
        <header>
            {% if active_category == 'blog' %}
                <p class="title-small">
                    <time itemprop="datePublished" datetime="{{ meta.date }}">{{ meta.date|date('M d, Y') }}</time>
                    {% if meta.date != meta.date_modified %}
                        [updated: <time itemprop="dateModified" datetime="{{ meta.date_modified }}">{{ meta.date_modified|date('d/m/Y') }}</time>]
                    {% endif %}
                </p>
                <h2 itemprop="mainEntityOfPage headline">{{ meta.title }}</h2>
            {% else %}
                <h2 itemprop="mainEntityOfPage name">{{ meta.title }}</h2>
                <meta itemprop="dateCreated" content="{{ meta.date }}">
                <meta itemprop="dateModified" content="{{ meta.date_modified }}">
            {% endif %}
        </header>

        <span itemprop="{{ active_category == 'blog' ? 'author' : 'creator' }}" itemscope itemtype="http://schema.org/Person">
            <meta itemprop="name" content="{{ config.site_author }}">
        </span>

        {% if meta.schema_artForm %}
            <meta itemprop="artform" content="{{ meta.schema_artForm }}">
        {% endif%}

        {% if ( meta.image ) and not ( '-posterframe.' in meta.image ) %}
            <img itemprop="thumbnailUrl" src="{{ meta.image }}" alt="{{ meta.title }}">
        {% endif %}

        {% if content %}
            <div itemprop="{{ active_category == 'blog' ? 'articleBody' : 'about' }}" class="about">{{ content }}</div>
        {% endif %}

        {% if meta.media %}
            <ul>
                {% for slide in meta.media %}
                    {% if slide.src is not iterable %}
                        <li itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                            <img src="{{ slide.src }}" alt="{{ meta.title }}">
                        </li>
                    {% else %}
                        <li itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
                            <video controls preload poster="{{ slide.poster ? slide.poster : '' }}">
                                {% for source in slide.src %}
                                    <source src="{{ source.url }}" type="{{ source.mime }}">
                                {% endfor %}
                                <p>Your browser does not support this video format.</p>
                            </video>
                            <meta itemprop="uploadDate" content="{{ meta.date_modified }}">
                            <meta itemprop="name" content="{{ meta.title }}">
                            <meta itemprop="thumbnailUrl" content="{{ slide.poster }}">
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </article>
</main>